*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/support/*.sqlite3
test/tmp
test/version_tmp
tmp
## Temporary files
*.swp
~*
